// Loader
.loader {
    border: 16px solid #F3F3F3;
    border-top: 16px solid #99E2D0;
    border-bottom: 16px solid #9356DC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


// Animation Heart
.description_hearts {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;

  &--heart {
    position: absolute;
    font-size: 25px;
    transition: all 1s linear;
  
    &.vide {
      opacity: 1;
      color: black;
    }

    &.plein {
      opacity: 0;
      background: -webkit-linear-gradient($primary-color, $secondary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  }

  &:hover {
    .description_hearts--heart {
      &.vide {
        opacity: 0;
      }

      &.plein {
        opacity: 1;
      }
    }
  }
}