// loader

@keyframes flash {
  0% {
    color: $secondary-color;
    text-shadow: 0 0 10px $tertiary-color;
  }

  50% {
    color: $secondary-color;
    font-size: 30px;
    text-shadow: none;
  }

  100% {
    color: $primary-color;
    text-shadow: 0 0 10px $tertiary-color;
  }
}

@keyframes fader {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  } 
}

// ---------Apparition Carte---------//

@keyframes slideDown {

    from {
        transform: translateY(25px);
        opacity:0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotationIcon {

    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes slideBack {

    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(57px);
    }
}