.main_menu {
  background-color: $back-section;
  width: 100%;
  position: relative;
  padding-top: 25px;
  top: -135px;
  z-index: 100;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

}

.main_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 25px;
  & h1 {
    font-family: $text-title, serif;
    font-weight: 400;
    font-size: 30px;
  }
}

.bouton {
  display: block;
  text-align: center;
}
.btn {
  font-family: $text-principal;
  font-weight: 600;
  color: #fff;
  height: 50px;
  width: 218px;
  background: linear-gradient(
    160deg, 
    $secondary-color , 
    $primary-color
    ); 
    border: none;
    border-radius: 25px;
    margin-top: 25px;

    &:hover {
      cursor: pointer;
    }
    }


    //  ----- Carte Menu ---- 
    .menu {
      font-family: $text-principal;
      margin-left: 15px;
      animation: slideDown 2s ;
    }

    .enter{
      &_title {
        text-transform: uppercase;
      }
      &_underline {
        width: 40px;
        margin-top: 5px;
        margin-bottom: 15px;
        text-align:center;
        border-top: 3px solid $tertiary-color;
        }
    }

    .plat_title,
    .dessert_title {
      text-transform: uppercase;
      margin-top: 35px;
    }

    .card_list {
      display: flex;
      flex-direction: column;
    }

    .card_menu {
      background-color: #fff;
      margin-top: 15px;
      margin-right: 15px;   
      border-radius: 15px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      overflow: hidden;
      cursor: pointer;
      @include shadow-box;
      animation: slideDown 2s linear both;


      &:hover {
        .card_check {
          display: flex;
          align-items: center;
          justify-content: center;
          &-icons{
            animation: rotationIcon .8s
          }
        }
      }
    }

    .card_txt {
      font-family: $text-principal;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 10px;

      & h3 {
        font-weight: 600;
        font-size: 20px;
      }

      & p{
        font-size: 15px;
      }
    }

    .card_detail {
      display: flex;
      align-items: stretch;
      
    }

    .card_price {
      display: flex;
      align-items: flex-end;
      font-weight: 600;
      font-size: 15px;
      padding: 0 10px 10px 0;
    }

    .card_check {
      display: none;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $tertiary-color;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      transition: all .5s linear;
      width: 100%;
      height: 100%;
      &-icons {
        transition: all .5s linear;
        color: white;
        font-size: 20px;
      }
    }

