.main_menu {
  background-color: rgb(250, 250, 250);
  width: 100%;
  padding-top: 50px;
  top: 255px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
}

.main_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  & h1 {
    font-family: $text-title, serif;
    font-weight: 400;
    font-size: 30px;
  }
}

.btn {
  font-family: $text-principal;
  font-weight: 600;
  color: #fff;
  height: 50px;
  width: 218px;
  background: linear-gradient(
    160deg, 
    $secondary-color , 
    $primary-color
    ); 
    border: none;
    border-radius: 25px;
    margin-top: 25px;

    &:hover {
      cursor: pointer;
    }
    }