.main_menu {
  background-color: $back-section;
  width: 100%;
  position: relative;
  padding-top: 25px;
  top: -135px;
  z-index: 100;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

}

.main_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 25px;
  & h1 {
    font-family: $text-title, serif;
    font-weight: 400;
    font-size: 30px;
  }
}

.btn {
  font-family: $text-principal;
  font-weight: 600;
  color: #fff;
  height: 50px;
  width: 218px;
  background: linear-gradient(
    160deg, 
    $secondary-color , 
    $primary-color
    ); 
    border: none;
    border-radius: 25px;
    margin-top: 25px;

    &:hover {
      cursor: pointer;
    }
    }


    //  ----- Carte Menu ---- 
    .menu {
      font-family: $text-principal;
      margin-left: 15px;
      animation: slideDown 2s ;
    }

    .enter{
      &_title {
        text-transform: uppercase;
      }
      &_underline {
        width: 40px;
        margin-top: 5px;
        margin-bottom: 15px;
        text-align:center;
        border-top: 3px solid $tertiary-color;
        }
    }

    .plat_title,
    .dessert_title {
      text-transform: uppercase;
      margin-top: 35px;
    }

    .card_menu {
      background-color: #fff;
      margin-top: 15px;
      padding: 10px;
      border-radius: 15px;
      animation: slideDown 2s ;

    }

