html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  max-width: 1550px;
  min-width: 375px;
}

container {
  position: fixed;
  top: 0;
  left: 0;
  background: lightgray;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: opacity;
  animation: fader 5s ease-out;
}

.fonctionnement {
  font-family: "Roboto", sans-serif;
  height: 440px;
  margin-top: 52px;
}
.fonctionnement_title h2 {
  font-weight: 700;
  margin-left: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.fonctionnement_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_fonctionnement {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 325px;
  height: 75px;
  margin: 10px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: rgba(227, 223, 222, 0.2);
  box-shadow: 5px 5px 35px -17px rgba(0, 0, 0, 0.55);
  animation: slideDown 2s;
}
.card_fonctionnement i {
  padding-left: 2em;
  padding-right: 2em;
  color: grey;
}

.card:hover {
  background-color: #ebe1f7;
}
.card:hover i {
  color: #9356dc;
}

.index {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  left: -10px;
  top: 35%;
  background-color: #9356dc;
  color: #fff;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 50%;
}

.text {
  font-weight: 600;
}

.restaurant {
  background-color: rgba(227, 223, 222, 0.2);
  padding-top: 58px;
  padding-bottom: 67px;
  display: flex;
  flex-direction: column;
}
.restaurant_title h2 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-left: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.restaurant_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_restaurant {
  position: relative;
  height: 253px;
  width: 335px;
  border-radius: 15px;
  background-color: #fff;
  color: black;
  margin-bottom: 19px;
  box-shadow: 5px 5px 35px -17px rgba(0, 0, 0, 0.55);
  animation: slideDown 2s;
}
.card_restaurant img {
  width: 335px;
  height: 173px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.card_restaurant a {
  text-decoration: none;
  color: black;
}

.news {
  position: absolute;
  left: 245px;
  top: 10px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #A3E4D7;
  color: #17a589;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}

.card_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 77px;
  padding: 20px 5px;
  font-family: "Roboto", sans-serif;
}
.card_description h3 {
  font-weight: 600;
}

.header {
  position: relative;
  z-index: 1;
}
.header_top {
  font-family: "Shrikhand", sans-serif;
  width: 100%;
  height: 63px;
  margin-left: 25px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header img {
  object-fit: cover;
}
.header h1 {
  font-family: "Shrikhand", sans-serif, serif;
  font-size: 35px;
}

.top_logo {
  margin-left: 100px;
}

.main_menu {
  background-color: #e3dfde;
  width: 100%;
  position: relative;
  padding-top: 25px;
  top: -135px;
  z-index: 100;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.main_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 25px;
}
.main_title h1 {
  font-family: "Shrikhand", sans-serif, serif;
  font-weight: 400;
  font-size: 30px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff;
  height: 50px;
  width: 218px;
  background: linear-gradient(160deg, #ff79da, #9356dc);
  border: none;
  border-radius: 25px;
  margin-top: 25px;
}
.btn:hover {
  cursor: pointer;
}

.menu {
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
  animation: slideDown 2s;
}

.enter_title {
  text-transform: uppercase;
}
.enter_underline {
  width: 40px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  border-top: 3px solid #99e2d0;
}

.plat_title,
.dessert_title {
  text-transform: uppercase;
  margin-top: 35px;
}

.card_list {
  display: flex;
  flex-direction: column;
}

.card_menu {
  background-color: #fff;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 15px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 5px 5px 35px -17px rgba(0, 0, 0, 0.55);
  animation: slideDown 2s linear both;
}
.card_menu:hover .card_check {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_menu:hover .card_check-icons {
  transform: rotateZ(360deg);
}

.card_txt {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
}
.card_txt h3 {
  font-weight: 600;
  font-size: 20px;
}
.card_txt p {
  font-size: 15px;
}

.card_detail {
  display: flex;
  align-items: stretch;
}

.card_price {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  font-size: 15px;
  padding: 0 10px 10px 0;
}

.card_check {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.5s linear;
  width: 100%;
  height: 100%;
}
.card_check-icons {
  transition: all 0.5s linear;
  color: white;
  font-size: 20px;
}

.header {
  font-family: "Shrikhand", sans-serif;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_logo {
  display: flex;
  justify-content: center;
  width: 95%;
  padding: 10px 0;
}
.header_logo img {
  width: 50%;
}

.searchBar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(227, 223, 222, 0.7);
  border-top: 0.2px solid rgba(0, 0, 0, 0.15);
}
.searchBar_input {
  margin-left: 5px;
  width: 8em;
  border: none;
  background-color: inherit;
  opacity: 0.7;
}

input:focus {
  outline: none;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(227, 223, 222, 0.2);
  padding-bottom: 3em;
}
.presentation_text {
  width: 80%;
  margin-top: 45px;
  align-items: center;
}
.presentation_text h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.presentation_text h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  margin-top: 24px;
}
.presentation_button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff;
  height: 50px;
  width: 218px;
  background: linear-gradient(160deg, #ff79da, #9356dc);
  border: none;
  border-radius: 25px;
  margin-top: 25px;
}
.presentation_button:hover {
  cursor: pointer;
}

.footer {
  background-color: #212f3d;
  width: 100%;
  height: 198px;
  color: #fff;
}
.footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 15px;
  padding-left: 25px;
  padding-top: 30px;
}
.footer_ul {
  margin-top: 30px;
  margin-left: 25px;
}
.footer li {
  display: flex;
  flex-direction: row;
}
.footer li i {
  margin-right: 10px;
}
.footer li .first {
  padding-left: 8px;
}

@keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}
@keyframes fader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.loader {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  animation: fader;
  animation-duration: 5s;
}

.lettre {
  color: #9356dc;
  font-family: "Shrikhand", sans-serif, serif;
  font-size: 35px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.description_hearts {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.description_hearts--heart {
  position: absolute;
  font-size: 25px;
  transition: all 1s linear;
}
.description_hearts--heart.vide {
  opacity: 1;
  color: black;
}
.description_hearts--heart.plein {
  opacity: 0;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description_hearts:hover .description_hearts--heart.vide {
  opacity: 0;
}
.description_hearts:hover .description_hearts--heart.plein {
  opacity: 1;
}

.card_menu:nth-child(1) {
  animation-delay: 0.1s;
}

.card_menu:nth-child(2) {
  animation-delay: 0.2s;
}

.card_menu:nth-child(3) {
  animation-delay: 0.3s;
}

.card_menu:nth-child(4) {
  animation-delay: 0.4s;
}

.card_menu:nth-child(5) {
  animation-delay: 0.5s;
}

/*# sourceMappingURL=style.css.map */
