// ----- Main ----- //

container {
    position: fixed;
    top: 0;
    left: 0;
    background: lightgray;
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: opacity ;
    animation: fader 5s ease-out;
}

// Fonctionnement //

// Titre //

.fonctionnement {
  font-family: $text-principal;
  height: 440px;
  margin-top: 52px;

  &_title  h2 {
    font-weight: 700;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
  }
}

// Carte Fonctionnement //
.fonctionnement_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_fonctionnement {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content : flex-start;
  width: 325px;
  height: 75px;
  margin: 10px ;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: $back-section_grey;
  @include shadow-box;
  & i {
  padding-left: 2em;
  padding-right: 2em;
  color: $icone-base;
  }
  animation: slideDown 2s;
}

.card:hover{
  & i {
  color: $primary-color;
  }
  background-color: $primary-color_hover;
}

.index {
  position : absolute;
  font-size: 12px;
  font-weight: 400;  
  left: -10px;
  top: 35%;
  background-color: $primary-color;
  color: #fff;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 50%;
}

.text {
  font-weight: 600;
}

//  Restaurant //

.restaurant {
  background-color: $back-section_grey;
  padding-top: 58px;
  padding-bottom: 67px;
  display: flex;
  flex-direction: column;
  &_title  h2 {
    font-weight: 700;
    font-family: $text-principal;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
  }
  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



.card_restaurant {
  position: relative;
  height: 253px;
  width: 335px;
  border-radius: 15px;
  background-color: #fff;
  color: black;
  margin-bottom: 19px;
  @include shadow-box;
  & img {
    width: 335px;
    height: 173px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
  }
  & a {
    text-decoration: none;
    color: black;
  }
  animation: slideDown 2s;
}

.news {
  position: absolute;
  left: 245px;
  top: 10px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #A3E4D7;
  color: #17a589;
  font-family: $text-principal;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
 padding: 5px;
}
.card_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 77px;
  padding: 20px 5px;
  font-family: $text-principal;
  & h3 {
    font-weight: 600;
  }
}

